@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(
    302deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(125, 88, 185, 1) 20%,
    rgba(76, 85, 149, 1) 41%,
    rgba(117, 45, 253, 1) 74%
  );
  background-position: center;
  background-repeat: no-repeat;

  font-family: "Nunito", sans-serif;
}

input {
  font-family: "Signika Negative", sans-serif;
}
