.formContainer {
  height: 100vh;
  overflow: scroll;
}
.mainContainer {
  margin-top: 12vh;
  color: white;
}
.registrationForm {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 80vw;
  margin: auto;
  padding: 20px;

  color: white;
  border-radius: 8px;
}
.buttonUser {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.buttonUser button {
  width: 30%;
}
.registrationForm label {
  font-size: 22px;
}
.registrationForm input {
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
}
.registrationForm input:focus {
  background-color: transparent;
  color: white;
}
.registrationForm select {
  background-color: transparent;
  outline: none;
  color: white;
}
#validationDefault04 option,
#validationDefault003 option,
#validationDefault005 option {
  background-color: rgb(2, 0, 36);
  border-radius: 10px;
}
.extension {
  font-weight: 600;
  font-size: 15px;
  color: rgb(33, 209, 14);
}
.registrationForm label {
  font-weight: bolder;
}

@media only screen and (max-width: 800px) {
  .registrationForm label {
    width: 100%;
    text-align: center;
  }
  .registrationForm input {
    text-align: center;
  }
  .registrationForm button {
    width: 100%;
  }
  .registrationForm select {
    width: 100%;
    text-align: center;
  }
  .buttonUser {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .extension {
    font-weight: 600;
    font-size: 12px;
    color: rgb(33, 209, 14);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
