.attendenceSheet {
  padding: 10px 20px;
  width: 88%;
  height: 90vh;
  margin: auto;
  margin-top: 10vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  color: white;
}

.tableContainer {
  width: 100%;
  overflow: scroll;
}
.tableContainer th,
.tableContainer td {
  text-align: center;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
}
.tableContainer th {
  font-weight: bold;
}
.titleContainer {
  width: 100%;
}
.titleContainer h1 {
  text-align: center;
}

.tableContainer::-webkit-scrollbar {
  display: none;
}
.container_dd {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ul_dd {
  height: 30vh;
  overflow: scroll;
}
.ul_dd li {
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .attendenceSheet {
    width: 98%;
    padding: 10px;
  }
}

.ul_dd::-webkit-scrollbar {
  display: none;
}
